@import 'variables';

.bg-color-container {
    background-color: $color_menu;
    #navbarNavDropdown{
        justify-content: flex-end;
    }
}
.navbar-nav {
    li{
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
.footer {
    background-color: $color_menu;
    .text-footer{
        p{
            text-align: center;
            color: $white;
        }
    }
    .logo-footer{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
}